.movie-list {
    max-height: 60vh;  /* Limit height to enable scrolling */
    overflow-y: auto;  /* Enable vertical scrolling */
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    /*background-color: rgba(0, 0, 0, 0.5); */
    border-radius: 10px;
}

.movie-grid {
    flex: 1; /* Take remaining space */
    overflow-y: auto; /* Enable vertical scrolling */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 10px;
    margin-top: 10px;
    display: grid;
    max-height: 60vh;
}

.movie-card {
    padding: 40px;
    background: #3343ef;
    border: 1px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    white-space: nowrap;  /* Prevent text wrapping */
    overflow: hidden;     /* Hide overflow text */
    text-overflow: ellipsis; /* Add '...' when text overflows */
    font-size: clamp(14px, 4vw, 18px); 
}


.movie-card h3 {
    margin-top: -20px;
    margin-bottom: 80px;
    color: white;
    font-size: 30px;
}

.movie-card:hover {
    transform: scale(1.05);
}

/* Ensure parent container allows space for the scrollable list */
.movies-by-category {
    width: 100%;
    max-width: 600px; /* Adjust to fit your layout */
    margin: 0 auto; /* Center the list */
}