/* General body styling */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff9f9;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full screen height */
  overflow: hidden; /* Prevents scrolling */
}

/* Main content container */
.home-container {
  text-align: center;
  background-image: url('../background.jpg');
  background-size: cover;
  background-position: center center;
  padding: 60px;
  border-radius: 30px;
  box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.3);
  width: 100%; /* Remove width limit */
  height: 100%; /* Make container take full height */
  backdrop-filter: blur(10px);
  margin: 0; /* Remove margins */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute; /* Allow it to take the full screen height */
}

/* Welcome message styling */
.logo-text {
  font-size: 50rem;
  font-weight: bold;
  color: #ff007f;
  text-shadow: 0 0 20px #ff007f, 0 0 30px #ff007f, 0 0 60px #ff007f;
  margin-bottom: 100px;
  font-family: 'Roboto', sans-serif;
}

/* Vertical divider container */
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-bottom: 40px;
}

/* Vertical divider styling */
.divider {
  width: 5px;
  height: 300px;
  background-color: #ffffff80;
  margin-top: 40px;
}

/* Section styling */
.section {
  width: 45%;
  height: 300px;
  text-align: left;
}

.section .tagline {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #ffffffcc;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
  margin-top: 100px;
  font-weight: bold;
}

/* Button styling */
.button {
  display: inline-block;
  padding: 12px 30px;
  background-color: #555ebd;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 12px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-transform: uppercase;
  font-size: 1.2rem;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
  width: 40%;
  margin-top: 20px;
}

.button:hover {
  background-color: #2334ee;
  transform: scale(1.1);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.7);
}
