.search-results {
    padding: 20px;
    background-color: var(--body-background); /* ברירת מחדל לרקע בהיר */
    min-height: 100vh;
    color: var(--text-color, #333); /* ברירת מחדל לטקסט כהה */
  }
  
  .search-results input {
    width: 80%;
    padding: 0px;
    font-size: 16px;
    margin-right: 10px;
    border: transparent;
    border-radius: 5px;
    background-color: transparent; /* ברירת מחדל לרקע קלט */
    color: var(--search-text); /* ברירת מחדל לטקסט קלט */
  }
  
  .search-results input::placeholder {
    color: var(--placeholder-color, #888); /* ברירת מחדל לטקסט placeholder */
  }
  
  .search-results button {
    display: inline-block;
    width: 5%;
    padding: 10px 20px;
    margin-top: 0.5%;
    margin-left: 43%;
    font-size: 16px;
    background-color: var(--button-color, #007BFF); /* ברירת מחדל לכחול */
    color: var(--button-text, #fff); /* ברירת מחדל לטקסט לבן */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-results button:hover {
    background-color: var(--button-hover, #0056b3); /* ברירת מחדל לכחול כהה */
  }

  .search-results .movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--input-text, #272626);
    min-width: 200px;
    padding: 10%;
    border: 1px solid var(--border-color, #ccc); /* ברירת מחדל לגבול אפור */
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }

  .movie-card .h3 {
    margin-top: 10px;
    text-align: center;
    color: #343333;
    font-size: 30px;
  }